In [89]:
# connecting to google drive where train and test files are uploaded
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [90]:
# you can run this file on google colab
# importing required libraries

import pandas as pd
import numpy as np
np.set_printoptions(precision=4)

from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [91]:
# reading train file
data = pd.read_csv("/content/drive/MyDrive/C#oders - Meta-Bizz/train and test files/train.csv", 
                   usecols = ['Name' ,'Crystal Structure', 'Diaphaneity', 'Specific Gravity','Optical', 'Refractive Index','Dispersion', 'Hydrated Water','count','Molar Mass', 'Molar Volume', 'Calculated Density', 'Hydrogen', 'Oxygen', 'Silicon', 'Calcium', 'Iron'])

In [92]:
data = data.drop(['Name'], axis=1)

In [93]:
# pre-processing of train file

In [94]:
for i in range(len(data['Crystal Structure'])):
  if data['Crystal Structure'][i] == 6:
    data['Crystal Structure'][i] = 4

<ipython-input-94-1afff11bb71a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Crystal Structure'][i] = 4

In [95]:
data['Specific Gravity'] = (data['Specific Gravity']-data['Specific Gravity'].min())/(data['Specific Gravity'].max()-data['Specific Gravity'].min())

In [96]:
for i in range(len(data['Optical'])):
  if data['Optical'][i] == 1:
    data['Optical'][i] = 2

<ipython-input-96-3f7d8c5f50dd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Optical'][i] = 2

In [97]:
data['Dispersion'] = (data['Dispersion']-data['Dispersion'].min())/(data['Dispersion'].max()-data['Dispersion'].min())

In [98]:
for i in range(len(data['Hydrated Water'])):
  if data['Hydrated Water'][i] != 0:
    data['Hydrated Water'][i] = 1

<ipython-input-98-1912a8958524>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Hydrated Water'][i] = 1

In [99]:
data['count'] = (data['count']-data['count'].min())/(data['count'].max()-data['count'].min())

In [100]:
data['Calculated Density'] = (data['Calculated Density']-data['Calculated Density'].min())/(data['Calculated Density'].max()-data['Calculated Density'].min())

In [101]:
data['Molar Mass'] = (data['Molar Mass']-data['Molar Mass'].min())/(data['Molar Mass'].max()-data['Molar Mass'].min())

In [102]:
data['Hydrogen'] = (data['Hydrogen']-data['Hydrogen'].min())/(data['Hydrogen'].max()-data['Hydrogen'].min())

In [103]:
data['Oxygen'] = (data['Oxygen']-data['Oxygen'].min())/(data['Oxygen'].max()-data['Oxygen'].min())

In [104]:
data['Silicon'] = (data['Silicon']-data['Silicon'].min())/(data['Silicon'].max()-data['Silicon'].min())

In [105]:
data['Calcium'] = (data['Calcium']-data['Calcium'].min())/(data['Calcium'].max()-data['Calcium'].min())

In [106]:
data['Iron'] = (data['Iron']-data['Iron'].min())/(data['Iron'].max()-data['Iron'].min())

In [107]:
data.describe()

,Crystal Structure,Diaphaneity,Specific Gravity,Optical,Refractive Index,Dispersion,Hydrogen,Oxygen,Silicon,Calcium,Iron,Hydrated Water,count,Molar Mass,Molar Volume,Calculated Density
count,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000,659.000000
mean,2.518968,1.572079,0.289282,2.716237,1.246416,0.009183,0.044880,0.065798,0.028157,0.048558,0.021750,0.189681,0.090215,0.112806,0.100307,0.326990
std,1.438989,1.093867,0.209075,1.654843,0.789210,0.068053,0.113116,0.067892,0.067963,0.110466,0.062117,0.392347,0.095061,0.128842,0.099153,0.206106
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011040,0.000000
25%,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.027778,0.000000,0.000000,0.000000,0.000000,0.030120,0.035372,0.044483,0.174001
50%,2.000000,2.000000,0.319220,4.000000,1.591000,0.000000,0.000000,0.046296,0.000000,0.000000,0.000000,0.000000,0.066265,0.071967,0.078001,0.288857
75%,3.000000,2.000000,0.413306,4.000000,1.713000,0.000000,0.030303,0.083333,0.027778,0.083333,0.000000,0.000000,0.114458,0.139850,0.123329,0.435300
max,5.000000,3.000000,1.000000,4.000000,3.383000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.209774,1.000000

In [108]:
# Dividing Dataset into input and output variables
X = data.drop(['Refractive Index'], axis=1)
y = data['Refractive Index']

In [109]:
# splitting train file into X_train and X_test dataset 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 100)

In [110]:
# GradientBoostingRegressor (fine-tuned)
from sklearn.ensemble import GradientBoostingRegressor

model = GradientBoostingRegressor(loss='huber', n_estimators=130, learning_rate=0.1, max_depth=1, alpha=0.9)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [111]:
# checking model accuracy and error
print("Mean Squared Error: ", mean_squared_error(y_test,y_pred))
print("r2_score: ",r2_score(y_test,y_pred))
print("mean_absolute_error: ",mean_absolute_error(y_test,y_pred))

Mean Squared Error:  0.10363723458160137
r2_score:  0.8417748704844981
mean_absolute_error:  0.13386442400676635

In [112]:
# reading test file
test = pd.read_csv("/content/drive/MyDrive/C#oders - Meta-Bizz/train and test files/test.csv", 
                   usecols = ['Name' ,'Crystal Structure', 'Diaphaneity', 'Specific Gravity','Optical','Dispersion', 'Hydrated Water','count','Molar Mass', 'Molar Volume','Calculated Density', 'Hydrogen', 'Oxygen', 'Silicon', 'Calcium', 'Iron'])

names = test['Name']

In [113]:
test = test.drop(['Name'], axis=1)

In [114]:
# pre-processing of test file

In [115]:
for i in range(len(test['Crystal Structure'])):
  if test['Crystal Structure'][i] == 6:
    test['Crystal Structure'][i] = 4

<ipython-input-115-b08b9421252e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Crystal Structure'][i] = 4

In [116]:
test['Specific Gravity'] = (test['Specific Gravity']-test['Specific Gravity'].min())/(test['Specific Gravity'].max()-test['Specific Gravity'].min())

In [117]:
for i in range(len(test['Optical'])):
  if test['Optical'][i] == 1:
    test['Optical'][i] = 2

<ipython-input-117-2093f86a0f03>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Optical'][i] = 2

In [118]:
test['Dispersion'] = (test['Dispersion']-test['Dispersion'].min())/(test['Dispersion'].max()-test['Dispersion'].min())

In [119]:
for i in range(len(test['Hydrated Water'])):
  if test['Hydrated Water'][i] != 0:
    test['Hydrated Water'][i] = 1

<ipython-input-119-d72087f1200f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Hydrated Water'][i] = 1

In [120]:
test['count'] = (test['count']-test['count'].min())/(test['count'].max()-test['count'].min())

In [121]:
test['Calculated Density'] = (test['Calculated Density']-test['Calculated Density'].min())/(test['Calculated Density'].max()-test['Calculated Density'].min())

In [122]:
test['Molar Mass'] = (test['Molar Mass']-test['Molar Mass'].min())/(test['Molar Mass'].max()-test['Molar Mass'].min())

In [123]:
test['Molar Volume'] = (test['Molar Volume']-test['Molar Volume'].min())/(test['Molar Volume'].max()-test['Molar Volume'].min())

In [124]:
test['Hydrogen'] = (test['Hydrogen']-test['Hydrogen'].min())/(test['Hydrogen'].max()-test['Hydrogen'].min())

In [125]:
test['Oxygen'] = (test['Oxygen']-test['Oxygen'].min())/(test['Oxygen'].max()-test['Oxygen'].min())

In [126]:
test['Silicon'] = (test['Silicon']-test['Silicon'].min())/(test['Silicon'].max()-test['Silicon'].min())

In [127]:
test['Calcium'] = (test['Calcium']-test['Calcium'].min())/(test['Calcium'].max()-test['Calcium'].min())

In [128]:
test['Iron'] = (test['Iron']-test['Iron'].min())/(test['Iron'].max()-test['Iron'].min())

In [129]:
test.describe()

,Crystal Structure,Diaphaneity,Specific Gravity,Optical,Dispersion,Hydrogen,Oxygen,Silicon,Calcium,Iron,Hydrated Water,count,Molar Mass,Molar Volume,Calculated Density
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.00000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,2.633333,1.500000,0.259270,2.646667,0.016848,0.045208,0.183860,0.06750,0.094667,0.025000,0.186667,0.181039,0.192010,0.130668,0.319084
std,1.467394,1.021579,0.208704,1.703280,0.112969,0.128492,0.168572,0.14236,0.161697,0.093855,0.390949,0.181358,0.171343,0.152533,0.220167
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.078947,0.00000,0.000000,0.000000,0.000000,0.064935,0.090305,0.038218,0.171556
50%,2.000000,2.000000,0.287710,4.000000,0.000000,0.000000,0.131579,0.00000,0.000000,0.000000,0.000000,0.129870,0.140628,0.084801,0.256115
75%,4.000000,2.000000,0.365709,4.000000,0.000000,0.031250,0.210526,0.06250,0.200000,0.000000,0.000000,0.220779,0.242022,0.152596,0.442564
max,5.000000,3.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [130]:
# running the model on actual test file
y_pred_test = model.predict(test)

In [131]:
for i in range(len(y_pred_test)):
  if y_pred_test[i] < 0:
    y_pred_test[i] = 0

In [132]:
y_pred_test

array([0.0722, 1.5199, 1.5923, 1.5712, 1.5639, 1.9784, 1.5712, 1.8092,
       0.0333, 1.5923, 0.0333, 0.0333, 1.5272, 2.006 , 0.0374, 1.5923,
       1.6455, 1.5923, 1.5753, 0.0027, 1.6756, 1.7702, 1.5867, 0.0333,
       1.7252, 1.6855, 1.5923, 0.0333, 1.6855, 1.5639, 1.6781, 1.5712,
       1.585 , 0.0544, 1.5751, 1.5712, 1.6065, 1.7743, 1.5555, 1.5712,
       1.5712, 1.6855, 1.5406, 1.5712, 1.5639, 1.5819, 0.3444, 1.7292,
       1.5712, 1.5712, 1.5867, 0.0374, 0.1402, 0.1055, 1.5639, 1.5923,
       1.5639, 1.7252, 0.0333, 0.0027, 0.0951, 1.7898, 0.0374, 1.7743,
       0.0374, 1.6781, 1.6781, 1.4996, 0.1476, 1.5639, 0.    , 1.6781,
       1.6245, 1.7702, 0.0333, 1.568 , 0.0374, 1.8214, 1.5712, 0.0333,
       1.9256, 1.5923, 1.6434, 0.0333, 1.7743, 1.5712, 1.5639, 1.6093,
       0.0374, 1.7437, 1.6102, 1.7948, 1.6434, 1.7629, 1.5406, 0.0333,
       0.0027, 1.7702, 2.0133, 1.568 , 0.0333, 1.5712, 0.0333, 0.0722,
       1.5753, 0.0333, 0.0333, 1.6161, 0.0333, 0.0333, 1.6781, 1.5712,
       0.0333, 1.5712, 1.5923, 1.5406, 1.7282, 0.033 , 1.6434, 1.7743,
       1.7629, 0.4754, 1.5923, 1.5712, 1.692 , 1.6361, 1.6781, 1.5406,
       1.5712, 1.5923, 1.6239, 1.5272, 1.5199, 2.2221, 0.0333, 1.6434,
       1.585 , 1.5891, 2.0133, 0.0333, 1.5712, 1.7857, 1.5639, 2.5532,
       1.6855, 0.0333, 0.0333, 1.6781, 1.7702, 0.0333])

In [133]:
y_pred_test_list = ['%.3f' % elem for elem in list(y_pred_test)]
submission = pd.DataFrame(list(zip(list(names), y_pred_test_list)), columns =['Name', 'Refractive Index'])
submission

              Name Refractive Index
0      Bridgmanite            0.072
1       Ettringite            1.520
2        Krohnkite            1.592
3    Kainosite-(Y)            1.571
4     Poudretteite            1.564
..             ...              ...
145         Nosean            0.033
146        Santite            0.033
147      Kottigite            1.678
148      Tungstite            1.770
149      Wagnerite            0.033

[150 rows x 2 columns]

In [134]:
# converting the DataFrame to an ouput.csv file
submission.to_csv('output.csv', index=False)